<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="OrangeHRM_E2E_Suite" verbose="1">

    <parameter name="browser" value="edge"/>

    <test name="Step1_Admin_Foundation" preserve-order="true">
        <classes>
            <class name="project_orangehrm.Test.LoginTest"/>
            <class name="project_orangehrm.Test.AdminJobTest"/>
            <class name="project_orangehrm.Test.AdminOrganizationTest"/>
            <class name="project_orangehrm.Test.Admin_Qualifications_Test"/>
            <class name="project_orangehrm.Test.Admin_Configuration_Test"/>
            <class name="project_orangehrm.Test.Admin_Nationalities_Test"/>
        </classes>
    </test>

    <test name="Step2_PIM_Foundation" preserve-order="true">
        <classes>
            <class name="project_orangehrm.Test.PIM_Configuration_Test"/>
            <class name="project_orangehrm.Test.PIM_Employee_Test"/>
            <class name="project_orangehrm.Test.PIM_EmployeeDetails_Test"/>
            <class name="project_orangehrm.Test.AdminUserManagementTest"/>
        </classes>
    </test>

    <test name="Step3_Recruitment" preserve-order="true">
        <classes>
            <class name="project_orangehrm.Test.Recruitment_Vacancies_Test"/>
            <class name="project_orangehrm.Test.Recruitment_Candidate_E2E_Test"/>
            <class name="project_orangehrm.Test.Recruitment_CandidateWorkflow_Test"/>
            <class name="project_orangehrm.Test.Recruitment_Search_And_Data_Test"/>
            <class name="project_orangehrm.Test.Recruitment_Actions_Test"/>
        </classes>
    </test>

    <test name="Step4_Operational" parallel="classes" thread-count="4">
        <classes>
            <class name="project_orangehrm.Test.Time_Configuration_Test"/>
            <class name="project_orangehrm.Test.Time_Attendance_Test"/>
            <class name="project_orangehrm.Test.Time_Timesheets_Test"/>
            <class name="project_orangehrm.Test.Time_ProjectInfo_Test"/>
            <class name="project_orangehrm.Test.Time_BusinessLogic_Test"/>
            <class name="project_orangehrm.Test.Leave_Configuration_Test"/>
            <class name="project_orangehrm.Test.Leave_Entitlements_Test"/>
            <class name="project_orangehrm.Test.Leave_Operations_Test"/>
            <class name="project_orangehrm.Test.Leave_ApplyLeave_Test"/>
            <class name="project_orangehrm.Test.Leave_LeaveList_Test"/>
            <class name="project_orangehrm.Test.Claim_Configuration_Test"/>
            <class name="project_orangehrm.Test.Claim_Operations_Test"/>
            <class name="project_orangehrm.Test.Claim_Advanced_Test"/>
            <class name="project_orangehrm.Test.Claim_EmployeeClaims_Test"/>
        </classes>
    </test>

    <test name="Step5_Performance_Engagement" parallel="classes" thread-count="4">
        <classes>
            <class name="project_orangehrm.Test.Performance_Configuration_Test"/>
            <class name="project_orangehrm.Test.Performance_Reviews_Test"/>
            <class name="project_orangehrm.Test.Performance_MyReviews_Test"/>
            <class name="project_orangehrm.Test.Performance_Evaluation_Test"/>
            <class name="project_orangehrm.Test.Buzz_Newsfeed_Test"/>
            <class name="project_orangehrm.Test.Buzz_Features_Test"/>
            <class name="project_orangehrm.Test.Dashboard_Widgets_Test"/>
            <class name="project_orangehrm.Test.Dashboard_UserActions_Test"/>
            <class name="project_orangehrm.Test.Dashboard_Advanced_Test"/>
            <class name="project_orangehrm.Test.Directory_Test"/>
            <class name="project_orangehrm.Test.PIM_Reports_Test"/>
            <class name="project_orangehrm.Test.Leave_Reports_Test"/>
            <class name="project_orangehrm.Test.Time_Reports_Test"/>
            <class name="project_orangehrm.Test.Performance_Reports_Test"/>
        </classes>
    </test>

    <test name="Step6_Maintenance" parallel="classes" thread-count="2">
        <classes>
            <class name="project_orangehrm.Test.Maintenance_Authentication_Test"/>
            <class name="project_orangehrm.Test.Maintenance_AccessRecords_Test"/>
            <class name="project_orangehrm.Test.Maintenance_Safety_Test"/>
            <class name="project_orangehrm.Test.Maintenance_PurgeRecords_Test"/>
        </classes>
    </test>

    <test name="Step7_Cleanup" parallel="classes" thread-count="4">
        <classes>
            <class name="project_orangehrm.TestCleaning.AdminTestCleaning"/>
            <class name="project_orangehrm.TestCleaning.PIMTestCleaning"/>
            <class name="project_orangehrm.TestCleaning.RecruitmentTestCleaning"/>
            <class name="project_orangehrm.TestCleaning.PerformanceTestCleaning"/>
            <class name="project_orangehrm.TestCleaning.ClaimTestCleaning"/>
            <class name="project_orangehrm.TestCleaning.BuzzTestCleaning"/>
            <class name="project_orangehrm.TestCleaning.TimeTestCleaning"/>
        </classes>
    </test>

</suite>