<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="OrangeHRM_Atomic_Pro_Suite" verbose="1">

    <listeners>
        <listener class-name="project_orangehrm.Listeners.SimpleListener"/>
    </listeners>

    <parameter name="browser" value="edge"/>

    <test name="Foundation_Data_Seeding" preserve-order="true">
        <groups>
            <run><include name="foundation"/></run>
        </groups>
        <classes>
            <class name="project_orangehrm.Test.LoginTest"/>
            <class name="project_orangehrm.Test.AdminJobTest"/>
            <class name="project_orangehrm.Test.AdminOrganizationTest"/>
            <class name="project_orangehrm.Test.Admin_Qualifications_Test"/>
            <class name="project_orangehrm.Test.PIM_Employee_Test"/>
            <class name="project_orangehrm.Test.AdminUserManagementTest"/>
            <class name="project_orangehrm.Test.Leave_Configuration_Test"/>
            <class name="project_orangehrm.Test.Leave_Entitlements_Test"/>
            <class name="project_orangehrm.Test.Claim_Configuration_Test"/>
            <class name="project_orangehrm.Test.Time_ProjectInfo_Test"/>
            <class name="project_orangehrm.Test.Time_Configuration_Test"/>
            <class name="project_orangehrm.Test.Performance_Configuration_Test"/>
            <class name="project_orangehrm.Test.Recruitment_Vacancies_Test"/>
        </classes>
    </test>

    <test name="Reg_Admin_Job"><groups><run><include name="regression"/></run></groups><classes><class name="project_orangehrm.Test.AdminJobTest"/></classes></test>
    <test name="Reg_Admin_Org"><groups><run><include name="regression"/></run></groups><classes><class name="project_orangehrm.Test.AdminOrganizationTest"/></classes></test>
    <test name="Reg_Admin_Qual"><groups><run><include name="regression"/></run></groups><classes><class name="project_orangehrm.Test.Admin_Qualifications_Test"/></classes></test>
    <test name="Reg_Admin_Config"><groups><run><include name="regression"/></run></groups><classes><class name="project_orangehrm.Test.Admin_Configuration_Test"/></classes></test>
    <test name="Reg_Admin_Nat"><groups><run><include name="regression"/></run></groups><classes><class name="project_orangehrm.Test.Admin_Nationalities_Test"/></classes></test>
    <test name="Reg_Admin_Users"><groups><run><include name="regression"/></run></groups><classes><class name="project_orangehrm.Test.AdminUserManagementTest"/></classes></test>

    <test name="Reg_PIM_Config"><groups><run><include name="regression"/></run></groups><classes><class name="project_orangehrm.Test.PIM_Configuration_Test"/></classes></test>
    <test name="Reg_PIM_Emp"><groups><run><include name="regression"/></run></groups><classes><class name="project_orangehrm.Test.PIM_Employee_Test"/></classes></test>
    <test name="Reg_PIM_Details"><groups><run><include name="regression"/></run></groups><classes><class name="project_orangehrm.Test.PIM_EmployeeDetails_Test"/></classes></test>
    <test name="Reg_PIM_Reports"><groups><run><include name="regression"/></run></groups><classes><class name="project_orangehrm.Test.PIM_Reports_Test"/></classes></test>

    <test name="Reg_Rec_Vacancies"><groups><run><include name="regression"/></run></groups><classes><class name="project_orangehrm.Test.Recruitment_Vacancies_Test"/></classes></test>
    <test name="Reg_Rec_E2E"><groups><run><include name="regression"/></run></groups><classes><class name="project_orangehrm.Test.Recruitment_Candidate_E2E_Test"/></classes></test>
    <test name="Reg_Rec_Workflow"><groups><run><include name="regression"/></run></groups><classes><class name="project_orangehrm.Test.Recruitment_CandidateWorkflow_Test"/></classes></test>
    <test name="Reg_Rec_Search"><groups><run><include name="regression"/></run></groups><classes><class name="project_orangehrm.Test.Recruitment_Search_And_Data_Test"/></classes></test>
    <test name="Reg_Rec_Actions"><groups><run><include name="regression"/></run></groups><classes><class name="project_orangehrm.Test.Recruitment_Actions_Test"/></classes></test>

    <test name="Reg_Leave_Apply"><groups><run><include name="regression"/></run></groups><classes><class name="project_orangehrm.Test.Leave_ApplyLeave_Test"/></classes></test>
    <test name="Reg_Leave_List"><groups><run><include name="regression"/></run></groups><classes><class name="project_orangehrm.Test.Leave_LeaveList_Test"/></classes></test>
    <test name="Reg_Leave_Ops"><groups><run><include name="regression"/></run></groups><classes><class name="project_orangehrm.Test.Leave_Operations_Test"/></classes></test>
    <test name="Reg_Leave_Reports"><groups><run><include name="regression"/></run></groups><classes><class name="project_orangehrm.Test.Leave_Reports_Test"/></classes></test>
    <test name="Reg_Leave_Config"><groups><run><include name="regression"/></run></groups><classes><class name="project_orangehrm.Test.Leave_Configuration_Test"/></classes></test>
    <test name="Reg_Leave_Entitle"><groups><run><include name="regression"/></run></groups><classes><class name="project_orangehrm.Test.Leave_Entitlements_Test"/></classes></test>

    <test name="Reg_Time_Attend"><groups><run><include name="regression"/></run></groups><classes><class name="project_orangehrm.Test.Time_Attendance_Test"/></classes></test>
    <test name="Reg_Time_Sheets"><groups><run><include name="regression"/></run></groups><classes><class name="project_orangehrm.Test.Time_Timesheets_Test"/></classes></test>
    <test name="Reg_Time_Project"><groups><run><include name="regression"/></run></groups><classes><class name="project_orangehrm.Test.Time_ProjectInfo_Test"/></classes></test>
    <test name="Reg_Time_Logic"><groups><run><include name="regression"/></run></groups><classes><class name="project_orangehrm.Test.Time_BusinessLogic_Test"/></classes></test>
    <test name="Reg_Time_Reports"><groups><run><include name="regression"/></run></groups><classes><class name="project_orangehrm.Test.Time_Reports_Test"/></classes></test>
    <test name="Reg_Time_Config"><groups><run><include name="regression"/></run></groups><classes><class name="project_orangehrm.Test.Time_Configuration_Test"/></classes></test>
    <test name="Reg_Claim_Adv"><groups><run><include name="regression"/></run></groups><classes><class name="project_orangehrm.Test.Claim_Advanced_Test"/></classes></test>
    <test name="Reg_Claim_Emp"><groups><run><include name="regression"/></run></groups><classes><class name="project_orangehrm.Test.Claim_EmployeeClaims_Test"/></classes></test>
    <test name="Reg_Claim_Ops"><groups><run><include name="regression"/></run></groups><classes><class name="project_orangehrm.Test.Claim_Operations_Test"/></classes></test>
    <test name="Reg_Claim_Config"><groups><run><include name="regression"/></run></groups><classes><class name="project_orangehrm.Test.Claim_Configuration_Test"/></classes></test>

    <test name="Reg_Perf_Reviews"><groups><run><include name="regression"/></run></groups><classes><class name="project_orangehrm.Test.Performance_Reviews_Test"/></classes></test>
    <test name="Reg_Perf_MyRev"><groups><run><include name="regression"/></run></groups><classes><class name="project_orangehrm.Test.Performance_MyReviews_Test"/></classes></test>
    <test name="Reg_Perf_Eval"><groups><run><include name="regression"/></run></groups><classes><class name="project_orangehrm.Test.Performance_Evaluation_Test"/></classes></test>
    <test name="Reg_Perf_Reports"><groups><run><include name="regression"/></run></groups><classes><class name="project_orangehrm.Test.Performance_Reports_Test"/></classes></test>
    <test name="Reg_Perf_Config"><groups><run><include name="regression"/></run></groups><classes><class name="project_orangehrm.Test.Performance_Configuration_Test"/></classes></test>

    <test name="Reg_Dash_Widgets"><groups><run><include name="regression"/></run></groups><classes><class name="project_orangehrm.Test.Dashboard_Widgets_Test"/></classes></test>
    <test name="Reg_Dash_Actions"><groups><run><include name="regression"/></run></groups><classes><class name="project_orangehrm.Test.Dashboard_UserActions_Test"/></classes></test>
    <test name="Reg_Dash_Adv"><groups><run><include name="regression"/></run></groups><classes><class name="project_orangehrm.Test.Dashboard_Advanced_Test"/></classes></test>

    <test name="Reg_Buzz_Feed"><groups><run><include name="regression"/></run></groups><classes><class name="project_orangehrm.Test.Buzz_Newsfeed_Test"/></classes></test>
    <test name="Reg_Buzz_Feat"><groups><run><include name="regression"/></run></groups><classes><class name="project_orangehrm.Test.Buzz_Features_Test"/></classes></test>
    <test name="Reg_Directory"><groups><run><include name="regression"/></run></groups><classes><class name="project_orangehrm.Test.Directory_Test"/></classes></test>

    <test name="Reg_Maint_Auth"><groups><run><include name="regression"/></run></groups><classes><class name="project_orangehrm.Test.Maintenance_Authentication_Test"/></classes></test>
    <test name="Reg_Maint_Access"><groups><run><include name="regression"/></run></groups><classes><class name="project_orangehrm.Test.Maintenance_AccessRecords_Test"/></classes></test>
    <test name="Reg_Maint_Purge"><groups><run><include name="regression"/></run></groups><classes><class name="project_orangehrm.Test.Maintenance_PurgeRecords_Test"/></classes></test>
    <test name="Reg_Maint_Safety"><groups><run><include name="regression"/></run></groups><classes><class name="project_orangehrm.Test.Maintenance_Safety_Test"/></classes></test>

    <test name="Clean_Admin"><classes><class name="project_orangehrm.TestCleaning.AdminTestCleaning"/></classes></test>
    <test name="Clean_PIM"><classes><class name="project_orangehrm.TestCleaning.PIMTestCleaning"/></classes></test>
    <test name="Clean_Recruit"><classes><class name="project_orangehrm.TestCleaning.RecruitmentTestCleaning"/></classes></test>
    <test name="Clean_Time"><classes><class name="project_orangehrm.TestCleaning.TimeTestCleaning"/></classes></test>
    <test name="Clean_Perf"><classes><class name="project_orangehrm.TestCleaning.PerformanceTestCleaning"/></classes></test>
    <test name="Clean_Claim"><classes><class name="project_orangehrm.TestCleaning.ClaimTestCleaning"/></classes></test>
    <test name="Clean_Buzz"><classes><class name="project_orangehrm.TestCleaning.BuzzTestCleaning"/></classes></test>

</suite>
